
<div class="row mt-4 mb-2 align">
    <button type="button" class="btn btn-sm btn-success py-0 left" style="margin-right: 3vh;"  (click)="selectAllCheckBoxes()">Select All</button>
    <button type="button" class="btn btn-sm btn-success py-0" (click)="clearCheckBoxes()">Clear</button>
    <button type="button" class="btn btn-sm btn-success py-0 right" (click)="selectCheckBox()">Approve</button>
    <button type="button" class="btn btn-sm btn-success py-0" (click)="rejectApprovals()">Reject</button>
</div>

<table id="myTable" class="table table-dark table-responsive-md">
    <thead>
        <tr>
            <th width="3%">No</th>
            <th width="8%">First Name</th>
            <th width="10%">Family Name</th>
            <th>Age</th>
            <th width="10%">Gender</th>
            <th width="10%" class="align-start">Email</th>
            <th width="10%" class="align-start">Contact</th>
            <th width="8%">User Type</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <!-- <th></th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of unApprovedUsers; index as i" (dblclick)="details(item)">
            <td>{{ i+1 }}</td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.familyName }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.gender }}</td>
            <td class="align-start">{{ item.email }}</td>
            <td class="align-start">{{ item.contact}}</td>
            <td>{{ item.userType }}</td>
            <td>{{ item.country }}</td>
            <td>{{ item.state }}</td>
            <td>{{ item.city }}</td>
            <td>
                <input type="checkbox" name="select" (click)="checkboxClicked(item)">
            </td>
            <!-- <td>
                <button type="button" class="btn btn-sm btn-info py-0" (click)="viewDetails(item)">View Details</button>
            </td> -->
            <!-- <td>
                <button type="button" class="btn btn-sm btn-success py-0" (click)="selectCheckBox(item)">Approve</button>
            </td> -->
            <!-- <td>
                <button type="button" class="btn btn-sm btn-danger py-0" (click)="selectCheckBox(item, $event.target.checked)">Decline</button>
            </td> -->
        </tr>        
    </tbody>
</table>

<div class="popup-model">
    <div class="content">
        <div class="close" (click)="onClickClose()">+</div>
        <h3 class="popup-header">Location Details</h3>
        <hr>
        <form action="#">
            <!-- <div *ngFor="let volunteerDetail of volunteerDetails; index as i"> -->
                <label class="col-lg-12"><strong>pinCode</strong> : {{ pinCode }}</label><br>
                <label class="col-lg-12"><strong>address</strong> : {{ address }}</label><br>
              <!-- </div> -->
        </form>  
    </div>
</div>