<div class="text-center">
    <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
        <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
          <span class="swal2-success-line-tip"></span>
          <span class="swal2-success-line-long"></span>
          <div class="swal2-success-ring"></div> 
          <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
          <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
    </div>
    <h1 class="display-3">Thank You for registering!</h1>
    <p class="lead"><strong>Please wait for the admin to approve your account</strong> Admin will contact you through email, text/SMS or phone call.</p>
    <hr>
    <p>
      Having trouble? <a href="/home">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-block py-2 font-weight-bold" style="width: 20%; margin-left: 40%;" routerLink="/home"  role="button">Continue to homepage</a>
    </p>
</div>
