.form-control:not(select) {
    padding: 1 rem 0.5rem;
}

select.form-control {
    /* height: 52px; */
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color:darkgray;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 5px;
}
.form-control:focus {
    box-shadow: none;
}

/* .submit{
    width:20%;
    margin-left:auto;
} */

.input-group1{
    width:90%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.bg-model{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    overflow-y: scroll;
}

.model-content{
    width:36vh;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;
    /* overflow-y: auto; */
    /* margin-right: 2px; */
}

.close{
    position: absolute;
    right:10px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.header{
    /* margin-left: 0.5rem;
    text-align: left; */
    text-align: center;
    margin-top: 0.7rem;
    font-family: Arial, Helvetica;
}

th {
    font-size: 2vh;
    text-align: center;
}

td{
    text-align:center;
    /* text-justify: auto; */
}
/* 
.col1{
    align-items: center;
    justify-content: center;
} */

/* .text-style{

} */

label{
    text-align: left;
    margin-left: 1rem;
    width: 35vh;
    overflow-wrap: break-word;
    /* margin-right: -1rem; */
    /* white-space: initial; */
    /* word-wrap: break-word; */
}

/* h3{

} */

/* .my-body-noscroll-class {
    overflow: hidden;
} */

.popup-model{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    /* overflow-y: scroll; */
}

.content{
    width:140vh;
    /* height:100vh; */
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    /* overflow-y: auto; */
    /* margin-right: 2px; */
}

.filter{
    margin-left: 14vh;
    margin-top: 4rem;
}

/* .table-pos{
    margin: 0 20vh;
} */

.table-pos{
    /* width: 118vh; */
    margin-left: 1vh;
    /* overflow-x: scroll; */
}

#request-type {
    margin-left: 25vh;
}

.row {
    /* display: flex; */
    justify-content: center;
    margin-top: 2vh;
}

.align-start{
    text-align: start;
}

/* input[type=text] {
    width:10%;
    margin-right: auto;
    border-radius: 4px;
    padding: 5px;
    border-color:; */
    /* outline:none; */
    /* padding: 0;
    height: 30px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 16px; */
  /* } */

.textbox-width{
    width: fit-content;
}
