
.border-md {
    border-width: 2px;
}

body {
    min-height: 100vh;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color:darkgray;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 5px;
}
.form-control:focus {
    box-shadow: none;
}

#div1{
    background-color: lightgray;
    height:7vh;
}

.bg-model{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.popup-model{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;    
}

.model-content{
    width:50vh;
    height:72vh;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.content{
    width:30vh;
    height:20vh;
    background-color: white;
    border-radius: 4px;
    text-align: left;
    position: relative; 
}

.close{
    position: absolute;
    right:10px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.input-group1{
    width:90%;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
}

.header{
    margin-top: 2rem;
    font-family: Arial, Helvetica;
}

.popup-header{
    margin-top: 0.8rem;
    margin-left: 0.6rem;
    font-family: Arial, Helvetica;    
}

.submit{
    width:30%;
    margin-left:auto;
}

th{
    /* margin-left:2rem; */
    /* margin-bottom: 1rem; */
    font-size: 2vh;
    text-align: center;
}

table{
    width: 99%;
}

td{
    width:10%;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

:required  {  
    background: url("../../assets/asterisk.jpeg") no-repeat;
    background-position:99% 10%;
    background-size: 10px 10px;
}

.request {
    margin-left: 90%;
}

.alert-content{
    width:35vh;
    height:15vh;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.alert-model{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:1rem;
    display:flex;
    justify-content: center;
    display:none;    
}

.row{
    margin-top: 2.5rem;
    justify-content: center;
}

.delete{
    margin-left: 2rem;
}

.popup-descriptionModel{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
    /* overflow: scroll; */
}

label{
    text-align: left;
    margin-left: 0.8rem;
    width: 35vh;
    overflow-wrap: break-word;
}

.descriptionContent{
    width:40vh;
    /* height:22vh; */
    background-color: white;
    border-radius: 4px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    /* overflow: visible; */
    /* overflow-y: auto; */
    /* margin-right: 2px; */
}

.popup-descriptionHeader{
    text-align: center;
    margin-bottom: 0;
}
