/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}

.alertClass {
    margin-top: 20px;
    padding-left: 15px;
    width: 555px;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 100vh;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color:darkgray;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 5px;
}
.form-control:focus {
    box-shadow: none;
}

#div1{
    background-color: lightgray;
    height:7vh;
}

.bg-model{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.model-content{
    width:50vh;
    height:72vh;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    position: relative;
}

.close{
    position: absolute;
    right:10px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* 
input {
    width:75%;
    margin:3rem 0 3rem 4.3rem;
}

select{
    width: 0;
    margin-left: 4rem;
}
.tarea{
    width: 75%;
    margin-top: 10rem;
    margin-left: 4.5rem;
} */

.input-group{
    width: 85%;
    margin-top: 1.5rem;
    margin-left: 4rem;
}

.input-group1{
    width:90%;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.header{
    margin-top: 2rem;
    font-family: Arial, Helvetica;
}

.submit{
    width:30%;
    margin-left:auto;
}

th{
    /* margin-left:2rem; */
    /* margin-bottom: 1rem; */
    font-size: 2vh;
}

table{
    width: 100%;
}

td{
    width:15%;
}

/* .Delete{
    margin-left: 40rem;
} */