
<!-- <button class="btn btn-primary" (click)="OnClickRequest()">Request</button> -->
<!-- <button class="btn btn-danger delbutton" (click)="OnClickRequest()"><i class="fa fa-trash-o icon-large"></i> Delete</button> -->
<!-- <a class="btn btn-danger delbutton" href="#">
    <i class="fa fa-trash-o icon-large"></i> Delete</a> -->
    
<h1 class="display-5 text-center" *ngFor= "let item of loginData">Welcome {{ item.name }}</h1>
<div class="row mt--3">
    <button class="btn btn-success request" (click)="OnClickRequest()"><i>+</i> Request</button>
</div>
<table class="table table-striped table-responsive-md mt-3 ml-2">
    <thead class="text-light bg-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Assigned</th>
            <th scope="col"></th>
            <!-- <th scope="col" ></th> -->
            <!-- <th scope="col" ></th> -->
            <!-- <th scope="col" ></th> -->
            <!-- <th scope="col" ><button class="btn btn-success" (click)="OnClickRequest()"><i>+</i> Request</button> <button class="btn btn-danger ml-2" (click)="OnClickRequest()"><i class="fa fa-trash-o icon-large"></i> Delete</button></th> -->
        </tr>
        <!-- <button class="btn btn-success" (click)="OnClickRequest()"><i>+</i> Request</button> <button class="btn btn-danger ml-2" (click)="OnClickRequest()"><i class="fa fa-trash-o icon-large"></i> Delete</button> -->
    </thead>

    <tbody>
        <tr *ngFor="let request of RequestsList; index as i">
            <td>{{ i + 1 }}</td>
            <!-- <td>{{ request.occupation }}</td> -->
            <td>{{ request.type }}</td>
            <td>{{ request.amount }}</td>
            <td>{{ request.description }}</td>
            <td>{{ request.status }}</td>
            <td *ngIf="request.status == 'pending' "><strong>{{ request.handledBy }}</strong></td>
            <td *ngIf="request.status == 'processing' "><button class="btn btn-sm btn-primary" (click)="showVolunteerDetails(request.handledBy)"><strong>Details</strong></button></td>
            <td>
                <button class="btn btn-sm btn-danger mr-5 Delete" (click)="OnDeleteRequest(request.email)">Delete</button>
            </td>
            <!-- <td>
                <button type="button" class="btn btn-sm btn-success py-0" (click)="selectCheckBox(item, $event.target.checked)">Approve</button>
            </td> -->
            <!-- <td>
                <button type="button" class="btn btn-sm btn-danger py-0" (click)="selectCheckBox(item, $event.target.checked)">Decline</button>
            </td> -->
        </tr>        
    </tbody>
</table>
<div class="bg-model">
    <div class="model-content">
        <div class="close" (click)="onClickClose()">+</div>
        <h3 class="popup-header">REQUEST FORM</h3>
        <hr>
        <form action="#">
            <!-- occupation -->
            <div class="input-group1">
                <input id="occupation" required="required" type="text" name="occupation" (blur)="onOccupationChange($event.target.value)" [ngClass]="occupation.disabled == false ? 'form-control bg-white border-md':'is-invalid'" placeholder="Occupation" class="form-control bg-white border-md">    
                <div *ngIf="occupation.disabled == true" id="error-class" class="text-danger">
                    <small>please enter occupation</small>    
                </div>    
            </div>
            <!-- Type of Help -->
            <div class="input-group1">
                <select (blur)="onTypeChange($event.target.value)" class="custom-select form-control bg-white border-md" name="Type">
                    <option value="food">Food</option>
                    <option value="clothes">Clothes</option>
                    <option value="education">Education</option>
                    <option value="medicines">Medicines</option>
                    <option value="finance">Finance</option>
                </select>
            </div>       
            <!-- Amount -->
            <div class="input-group1">
                <input id="amount" required="required" type="text" name="amount" (blur)="onAmountChange($event.target.value)" [ngClass]="amount.disabled == false ? 'form-control bg-white border-md':'is-invalid'" placeholder="Amount" class="form-control bg-white border-md">    
                <div *ngIf="amount.disabled == true" id="error-class" class="text-danger">
                    <small>please enter amount</small>    
                </div>    
            </div>
            <!-- description -->
            <div class="input-group1">
                <textarea class="form-control" required="required" rows="5" (blur)="onDescriptionChange($event.target.value)" [ngClass]="description.disabled == false ? 'form-control':'is-invalid'" placeholder="Description"></textarea>
                <div *ngIf="description.disabled == true" id="eroor-class" class="text-danger">
                    <small>please enter details</small>    
                </div>    
            </div>
            <button class="btn btn-primary mt-4 submit" (click)="saveDetails()">Submit</button>
        </form>  
    </div>   
</div>

<div class="popup-model">
    <div class="content">
        <div class="close" (click)="onClickClose()">+</div>
        <h3 class="popup-header">Volunteer Details</h3>
        <hr>
        <form action="#">
            <div *ngFor="let volunteerDetail of volunteerDetails; index as i">
                <label class="col-lg-12">Name : {{ volunteerDetail[0].firstName }}</label><br>
                <label class="col-lg-12">Email : {{ volunteerDetail[0].email }}</label><br>
                <label class="col-lg-12">Phone : {{ volunteerDetail[0].contact }}</label>
            </div>
            <!-- occupation -->
            <!-- <div class="input-group1">
                <input id="occupation" required="required" type="text" name="occupation" (blur)="onOccupationChange($event.target.value)" [ngClass]="occupation.disabled == false ? 'form-control bg-white border-md':'is-invalid'" placeholder="Occupation" class="form-control bg-white border-md">    
                <div *ngIf="occupation.disabled == true" id="error-class" class="text-danger">
                    <small>please enter occupation</small>    
                </div>    
            </div>        -->
            <!-- Amount -->
            <!-- <div class="input-group1">
                <input id="amount" required="required" type="text" name="amount" (blur)="onAmountChange($event.target.value)" [ngClass]="amount.disabled == false ? 'form-control bg-white border-md':'is-invalid'" placeholder="Amount" class="form-control bg-white border-md">    
                <div *ngIf="amount.disabled == true" id="error-class" class="text-danger">
                    <small>please enter amount</small>    
                </div>    
            </div> -->
            <!-- description -->
            <!-- <div class="input-group1">
                <textarea class="form-control" required="required" rows="5" (blur)="onDescriptionChange($event.target.value)" [ngClass]="description.disabled == false ? 'form-control':'is-invalid'" placeholder="Description"></textarea>
                <div *ngIf="description.disabled == true" id="eroor-class" class="text-danger">
                    <small>please enter details</small>    
                </div>    
            </div> -->
            <!-- <button class="btn btn-primary mt-4 submit" (click)="saveDetails()">Submit</button> -->
        </form>  
    </div>
</div>

