<table class="table table-dark table-responsive-md">
    <thead>
        <tr>
            <th width="3%">No</th>
            <th width="8%">First Name</th>
            <th width="15%">Family Name</th>
            <th width="13%" class="align">Email</th>
            <th width="10%" class="align">Contact</th>
            <th width="10%">User Type</th>
            <!-- <th>Country</th>
            <th>State</th>
            <th>City</th> -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of ApprovedUsers; index as i">
            <td>{{ i + 1 }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.familyName }}</td>
            <td class="align">{{ item.email }}</td>
            <td class="align">{{ item.contact}}</td>
            <td>{{ item.userType }}</td>
            <td>
                <button type="button" class="btn btn-sm btn-info py-0" (click)="viewDetails(item)">View Details</button>
            </td>
            <!-- <td>
            </td> -->
            <!-- <td>
                <button type="button" class="btn btn-sm btn-danger py-0" (click)="selectCheckBox(item, $event.target.checked)">Decline</button>
            </td> -->
        </tr>        
    </tbody>
</table>

<div class="popup-model">
    <div class="content">
        <div class="close" (click)="onClickClose()">+</div>
        <h3 class="popup-header">Details</h3>
        <hr>
        <form action="#">
            <!-- <div *ngFor="let volunteerDetail of volunteerDetails; index as i"> -->
                <label class="col-lg-12 text-center"><strong>Country</strong> : {{ country }}</label><br>
                <label class="col-lg-12 text-center"><strong>State</strong> : {{ state }}</label><br>
                <label class="col-lg-12 text-center"><strong>City</strong> : {{ city }}</label>
            <!-- </div> -->
        </form>  
    </div>
</div>