<table class="table table-dark table-responsive-md">
    <thead>
        <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Family Name</th>
            <!-- <th>Gothram</th> -->
            <th>Email</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <!-- <th></th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Recipient of Recipients; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ Recipient.firstName }}</td>
            <td>{{ Recipient.familyName}}</td>
            <td>{{ Recipient.email }}</td>
            <td>{{ Recipient.city }}</td>
            <td>{{ Recipient.state }}</td>
            <td>{{ Recipient.country }}</td>
            <!-- <td>
                <button type="button" class="btn btn-sm btn-success py-0" (click)="selectCheckBox(item)">Approve</button>
            </td> -->
            <!-- <td>
                <button type="button" class="btn btn-sm btn-danger py-0" (click)="selectCheckBox(item, $event.target.checked)">Decline</button>
            </td> -->
        </tr>        
    </tbody>
</table>