<table class="table table-dark table-responsive-md">
    <thead>
        <tr>
            <th>No</th>
            <th>First Name</th>
            <th>Family Name</th>
            <th>Contact</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Volunteer of Volunteers; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ Volunteer.firstName }}</td>
            <td>{{ Volunteer.familyName}}</td>
            <td>{{ Volunteer.contact }}</td>
            <td>{{ Volunteer.city }}</td>
            <td>{{ Volunteer.state }}</td>
            <td>{{ Volunteer.country }}</td>
            <!-- <td>
                <button type="button" class="btn btn-sm btn-success py-0" (click)="selectCheckBox(item)">Approve</button>
            </td> -->
            <!-- <td>
                <button type="button" class="btn btn-sm btn-danger py-0" (click)="selectCheckBox(item, $event.target.checked)">Decline</button>
            </td> -->
        </tr>        
    </tbody>
</table>